.wrapper{
    margin: 0 auto;  
    max-width: 1600px;
}
header{
    background-image: url("../images/background.png"); 
    min-height: 90vh;   

}
.menu_a{
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    padding: 26px;
    letter-spacing: 1px;
    

}
.menu_a:hover{
    color: #d6b429;
    position: relative;
    transition-property: color;
    transition-duration: 2s;
}
.square{
    border: 1px solid #d6b429;
    border-radius: 50%;
    height: 3px;
    width: 3px; 
    /* margin-top: -12px;    */
}
.logo{
    display: block;
}
.menu_top{
    padding: 46px 60px ;
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{ 
    height:32px ;           
}
.name{
    margin-top: 250px;
}
h1{
    color: #d6b429;
    font-family: 'Raleway', sans-serif !important;
    font-size: 52px !important;
    font-weight: 800 !important;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
}
h2{
    color: #ffffff;
    font-family: 'Crimson Text', serif !important;
    font-size: 20px !important;
    font-style: italic !important;
    text-align: center;
    letter-spacing: 4px;
}
.scroll_down{
    margin-top: 150px; 
    text-align: center;
} 
h3 a {
    color: #ffffff;
    font-family: 'Raleway', sans-serif !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    letter-spacing: 1px;  
    text-transform: uppercase;
    padding: 20px !important;
    display: block;
}
.about_us{
    background-image: url("../images/background_p2.png");
    min-height: 90vh;   

}
h4{
    color: #000000;
    font-family: 'Raleway', sans-serif !important;
    font-size: 36px !important;
    font-weight: 800 !important;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #d6b429;
    text-align: center;
    padding: 60px !important;
}
p{
    color: #000000;
    font-family: 'Crimson Text', serif !important;
    font-size: 16px !important;
    text-align: justify;
    line-height: 26px !important;
}
.text-lorem{
    max-width: 500px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 120px 0px;
}
.load_more{
    border-style: solid;
    border-width: medium;
    border-color: #d6b429;
    text-align: center;
    padding: 15px 30px;
    margin: 0 auto;
    max-width: 200px;
    margin-top: 70px;
    margin-bottom: 70px;
}
.load_more:hover{
    background-color: #d6b429;
}
a{
    color: #000000;
    font-family:'Raleway', sans-serif !important;
    font-weight: 800 !important;
    text-decoration: none;
    text-transform: uppercase;
}
.lorem{
    font-size: 20px !important;
    text-align: center;
}
.main_button{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.button{
    font-family: 'Raleway', sans-serif;
    font-size:12px !important;
    font-weight: 300 !important;
    letter-spacing: 1px;
    border: 1px solid #d6b429;
    padding: 15px 30px;
}
.button:hover{
    background-color: #d6b429;
}
.pictures{
    display: flex;
    flex-wrap: wrap;
}
.pictures img{
    width: 360px !important;
    height: 300px !important;
}
.our_team{
    background-color: #fdfdfd;
}
.main_gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 80px 0px;
}
.gallery{
    margin: 5px ;
    border: 10px solid #ffffff;
}
.gallery:hover{
    border: 10px solid #d6b429;
}
.gallery img{
    width: 250px;
    height: 250px;
}
.text{
    padding: 18px !important;
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    display: block;
}
.profesion{
    font-family:'Raleway', sans-serif;
    font-weight: 300 !important;
    font-size: 14px;
    text-transform: none;
    margin-top:20px;
}
.our_skills{
    background-image: url("../images/background_image.png");
}
.all_circle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 160px;
}
.circle{
    border: 8px solid #ffffff;
    border-radius: 50%;
    width: 164px;
    height: 164px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 50px;
    display: inline-block;
    padding: 30px;
}   
.circle:hover{
    transition-property:color;
    transition-duration: 4s;
    position: relative;
    border-color: #d6b429;

}

.bottom-text{
    display: block;
    text-align: center;
}
.bottom-text li{
    font-family:'Raleway', sans-serif !important;
    font-weight: 300 !important;
    font-size: 20px;
     margin-top:40px;
     letter-spacing: 1px;
}
.quote{
    background-image: url("../images/yukio.png");
    padding: 140px;
}
.quote p{
font-family: 'Crimson Text', serif !important;
color: #ffffff;
font-size: 20px;
letter-spacing: 2px;
margin: 0 auto;
text-align: center;
}
 
    
 

